<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="asset/default/style.css"></link>
</head>

<style>
    .container{
        display: grid;
        place-items: center;
        min-height: 100vh;
        min-width: 100vw;
    }
</style>

<body>
<div class="container">
    <h1 style="text-align: center;">hey welcome to this super C++ project</h1>
    <img src="asset/default/rick-roll-rick-ashley.webp" alt="rolled">
</div>
</body>
</html>